.commontext{
    font-size: 21px;
    font-weight: lighter;
}

.preface{
    text-align: center;
}
section{
    padding: 0px 120px 0px 120px !important;
    text-align: justify;
    font-size: 21px;
    font-weight: lighter;
    line-height: 28px;
}
.letter{
    border: 1px solid black;
    margin: 0px 50px 0px 50px;
    padding: 20px 20px 20px 20px;
    
}
    @media only screen and (max-width: 600px) {
    section{
        padding:0px 10px 0px 10px !important;
        line-height: 20px !important;
        font-weight: 100;
        font-size: 17px;
        text-align: justify;
    }
    }